<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>
  {% load static %}

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <div class="bg-light border-right" id="sidebar-wrapper">
    {% include 'header.html' %}

    <!-- Page Content -->
    <div id="page-content-wrapper">

      {% include 'navbar.html' %}

      <form action="" method="post">
        {% csrf_token %}
        <blockquote class="blockquote text-center">
            {% if PBI.in_sprint == False %}
                <p class="mb-0">Add this PBI "{{PBI.name}}" to sprint?</p>
            {% else %}
                <p class="mb-0">Uncheck the box to remove this PBI </p>
                <p class="mb-0">Remove this PBI "{{PBI.name}}" from sprint?</p>
            {% endif %}
              {{ form.as_p }}
              <input type="submit" value="Update">


        </blockquote>
      </form>

    </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->


  <!-- Bootstrap core JavaScript -->
  <script src= "{% static 'vendor/jquery/jquery.min.js' %}" ></script>
  <script src= "{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
