

<!DOCTYPE html>
<html lang="en">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% load static %}
<link href="{% static 'css/addproduct.css'%}" rel="stylesheet">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>


  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
    {% include 'header.html' %}

    <!-- Page Content -->
    <div id="page-content-wrapper">

      {% include 'navbar.html' %}

      <div class="container-fluid">
        <h1 class="mt-4"> </h1>


        <div class="container register-form">
                    <div class="form">
                        <div class="note">
                            <p> Task Detail</p>

                        </div>

                        <form class="form-content" method="post">

                          <center>
                            <form action="" method="post">
                      {% csrf_token %}

                        {% csrf_token %}
                          <p><b>PBI: </b> {{task.pbi}} </p>
                        <p><b>Task name: </b> {{task.name}} </p>

                          <p><b>Description: </b> {{ task.description }}</p>
                            <p><b>Hour: </b>{{ task.hour }}</p>
                            <p><b>Status: </b>{{ task.status }}</p>
                            <p><b>Owner: </b>{{ task.owner }}</p>


                                  <input type=button value="Back" onClick="javascript:history.go(-1);">
                                </div>

                            </form>
                          </center>
                        </form>
                    </div>
                </div>



      </div>
    </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->


  <!-- Bootstrap core JavaScript -->
  <script src= "{% static 'vendor/jquery/jquery.min.js' %}" ></script>
  <script src= "{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>



<!------ Include the above in your HEAD tag ---------->
