
    <div class="sidebar-heading">Product A</div>
      <div class="list-group list-group-flush">
                <a href="http://127.0.0.1:8000/viewProduct" class="list-group-item list-group-item-action bg-light">Products Full view</a>
        <a href="http://127.0.0.1:8000/viewPBI" class="list-group-item list-group-item-action bg-light">Product BackLog</a>
        <a href="http://127.0.0.1:8000/sprintBacklog" class="list-group-item list-group-item-action bg-light">Sprint BackLog</a>

      </div>
    </div>
